.someClass {

}
.HW2 {
    flex-shrink: 0;
    flex-grow: 0;
    height: 270px;
    background-color: #3b3b3b;
    color: #c5d4c2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.affair {
    padding: 5px;
    display: flex;
    gap: 5px;
}
.name {

}
.priority {

}
.buttonContainer {
    display: flex;
    gap: 5px;
}
td p {
    padding-top: 5px;
    margin: auto;
    width: 100px;
    height: auto;
    word-wrap: break-word;
}
th {
    width: 100px;
}