.blue {
    border-bottom: 5px solid #3232a2;
}

.column {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(59, 59, 59);
}
.column > * {
    margin-top: 5px;
}

.testSpanError {
    color: blue;
}